@model QuPic.Models.Memories


<div class="scanned">
    <div class="scanned-con">
        <div class="scanned-head">
            <div class="scanned-head-logo">
                <img src="~/brand/logo.png" alt="">
            </div>
        </div>

        <div class="scanned-body">
            <div class="scanned-body-picture-con">
                <div class="picture-con">
                    <img src="@Model.Img" alt="">
                </div>
            </div>

            <div class="scanned-body-message-con">
                <p class="date">[ @Model.CreatedAt ]</p>
                <p class="to medium-text">Dearest @Model.To,</p>
                <div class="message-con">
                    <p class="medium-text">@Model.Message</p>
                </div>
                <p class="from medium-text">- @Model.From</p>
            </div>
        </div>
    </div>
</div>